@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #1d3650;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
}
